.git
.gitignore
build/
build-linux/
build-mac/
cmake-build-debug/
cmake-build-debug-remote/
cmake-build-debug-inside-docker/
cmake-build-relwithdebinfo-inside-docker/
cmake-build-dockerdebug/
Dockerfile
README.md
**/__pycache__/
wheels/
pip-log.txt
pip-wheel-metadata/
