#
# ignore object files and libraries
#
*.[oa]

#
# ignore executable
#
sipi

#
# other files to be ignored
#
.DS_Store
*~
*.pyc
.idea/
/.vscode
/include/SipiConfig.h
/include/SipiVersion.h
sipi.log*
/extsrcs/
.direnv/
/tmp/

target
__pycache__/
doc/
_build/
.pytest_cache
/venv/

#
# Cmake things to be ignored
#
lib
local
build/
build-linux/
build-mac/
cmake-build-debug/
cmake-build-debug-remote/
cmake-build-debug-inside-docker/
cmake-build-dockerdebug/
cmake-build-relwithdebinfo-inside-docker/
cmake-build-relwithdebinfo-nix-develop/
result/
# ignore cache
cache/

#ignore ICC headers
*_icc.h
/images/
/server/admin/
icc.zip

# ignore test results
/Testing
/test/nginx/logs/error.log
/site
/test/e2e/diff.tif

# ignore coverage
/coverage
/coverage.info
*.gcov
result
