# Ignore everything in this directory
*
# Except these files
!.gitignore
!image_with_rotation.jpg
!8pdET49BfoJ-EeRcIbgcLch.info
!8pdET49BfoJ-EeRcIbgcLch.mp4
!8pdET49BfoJ-EeRcIbgcLch.mp4.orig
!big.pdf
!cielab.tif
!CIELab16.tif
!cmyk.tif
!cmyk_lossy.jp2
!cmyk_with_alpha.tif
!gray_with_icc.jp2
!has-missing-sidecar-file.mp4
!has-missing-sidecar-file.mp4.orig
!HasCommentBlock.JPG
!image_with_rotation.jpg
!lena512.jp2
!lena512.tif
!lena512_upscaled.tif
!mario.png
!mario.tif
!palette.tif
!test.csv
!test.info
!test2.csv
!watermark_correct.tif
!watermark_incorrect.tif
