name: docker-build

on:
  schedule:
    # run on midnight every day
    - cron: '0 0 * * *'
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:

  # Docker build for amd64
  build_amd64:
    name: amd64
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.ref }}-docker-build-amd64
      cancel-in-progress: true
    steps:
      - uses: dasch-swiss/sipi/.github/actions/checkout@main
        with:
          DASCHBOT_PAT: ${{ secrets.DASCHBOT_PAT }}
      - uses: dasch-swiss/sipi/.github/actions/setup-python@main
      - run: pip3 install --upgrade pip setuptools wheel
      - run: make install-requirements
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - run: make docker-test-build-amd64 # two stage build, where test is run in the first stage
      - run: make test-smoke-ci

  # Docker build for aarch64
  build_aarch64:
    name: aarch64
    runs-on: ubuntu-24.04-arm
    concurrency:
      group: ${{ github.ref }}-docker-build-aarch64
      cancel-in-progress: true
    steps:
      - uses: dasch-swiss/sipi/.github/actions/checkout@main
        with:
          DASCHBOT_PAT: ${{ secrets.DASCHBOT_PAT }}
      - uses: dasch-swiss/sipi/.github/actions/setup-python@main
      - run: pip3 install --upgrade pip setuptools wheel
      - run: make install-requirements
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - run: make docker-test-build-aarch64 # two stage build, where test is run in the first stage
      - run: make test-smoke-ci

  # build documentation
  build_docs:
    name: docs test run
    runs-on: ubuntu-latest
    steps:
      - uses: dasch-swiss/sipi/.github/actions/checkout@main
        with:
          DASCHBOT_PAT: ${{ secrets.DASCHBOT_PAT }}
      - uses: dasch-swiss/sipi/.github/actions/setup-python@main
      - run: make docs-install-requirements
      - run: make docs-build
