name: CI

on:
  schedule:
    # run every midnight (on main)
    - cron: '0 0 * * *'
  push:
  release:
    types: [published]

jobs:
  unit:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 50
      - name: Checkout private ci-assets
        uses: actions/checkout@v3
        with:
          repository: dasch-swiss/dsp-ci-assets
          token: ${{ secrets.DASCHBOT_PAT }} # `GitHub_PAT` is a secret that contains your PAT
          path: ci
      - name: Copy ci-assets
        run: |
          cp $GITHUB_WORKSPACE/ci/kakadu/v8_2_1-01727L.zip $GITHUB_WORKSPACE/vendor/v8_2_1-01727L.zip
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: install requirements
        run: make install-requirements
      - name: compile
        run: make compile-ci
      - name: test
        run: make test-ci

  integration:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 50
      - name: Checkout private ci-assets
        uses: actions/checkout@v3
        with:
          repository: dasch-swiss/dsp-ci-assets
          token: ${{ secrets.DASCHBOT_PAT }} # `GitHub_PAT` is a secret that contains your PAT
          path: ci
      - name: Copy ci-assets
        run: |
          cp $GITHUB_WORKSPACE/ci/kakadu/v8_2_1-01727L.zip $GITHUB_WORKSPACE/vendor/v8_2_1-01727L.zip
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: install requirements
        run: make install-requirements
      - name: build docker image
        run: make docker-build
      - name: integration tests
        run: make test-integration

  # publish only on release
  publish-images:
    name: Build and Publish Images to Dockerhub
    needs: [unit, integration]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    steps:
      - name: checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 50
      - name: checkout private ci-assets
        uses: actions/checkout@v3
        with:
          repository: dasch-swiss/dsp-ci-assets
          token: ${{ secrets.DASCHBOT_PAT }} # `DASCHBOT_PAT` is a secret that contains your PAT
          path: ci
      - name: copy ci-assets
        run: |
          cp $GITHUB_WORKSPACE/ci/kakadu/v8_2_1-01727L.zip $GITHUB_WORKSPACE/vendor/v8_2_1-01727L.zip
      - name: build and publish production image
        run: |
          echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          make docker-publish
      - name: build and publish debug image
        run: |
          echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          make docker-publish-debug
      - name: Update release notes
        uses: lakto/gren-action@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  # build documentation
  docs:
    name: Build Docs Testrun
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: run docs build
        run: make docs-build

  # publish documentation when merged into main branch
  publish-docs:
    name: Build and Publish Docs
    needs: [docs]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          REQUIREMENTS: requirements.txt
